<div class="main pzero">
  <%= render "deals_info" %>
</div>


<div class="container visible-xs visible-sm">
  <div class="row">
    <div class="col-sm-12">
      <%= render "basic_info" %>
    </div>
  </div>

  <hr>

  <div class="row">
    <div class="col-md-12">
      <%= render "deals_info" %>
    </div>
  </div>

  <hr>

  <div class="row">
    <div class="col-sm-12">
      <%= render "reedem_info" %>
    </div>
  </div>

</div>